<html>
    <head>
        <title>ЗАПУСКАЕМ ГУСЯ</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ЗАПУСКАЕМ
                ░ГУСЯ░▄▀▀▀▄░РАБОТЯГИ░░
                ▄███▀░◐░░░▌░░░░░░░
                ░░░░▌░░░░░▐░░░░░░░
                ░░░░▐░░░░░▐░░░░░░░
                ░░░░▌░░░░░▐▄▄░░░░░
                ░░░░▌░░░░▄▀▒▒▀▀▀▀▄
                ░░░▐░░░░▐▒▒▒▒▒▒▒▒▀▀▄
                ░░░▐░░░░▐▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░▀▄░░░░▀▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░░░▀▄▄▄▄▄█▄▄▄▄▄▄▄▄▄▄▄▀▄
                ░░░░░░░░░░░▌▌░▌▌░░░░░
                ░░░░░░░░░░░▌▌░▌▌░░░░░
                ░░░░░░░░░▄▄▌▌▄▌▌░░░░░</a></h1>
        </div>

        <div>
            <p>published: ДААААА</p>
            <h2><a href="">WOF WOF WOOOOOF</a></h2>
            <p>────────▄──────────────▄
                ────────▌▒█───────────▄▀▒▌
                ────────▌▒▒▀▄───────▄▀▒▒▒▐
                ───────▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
                ─────▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
                ───▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀██▀▒▌
                ──▐▒▒▒▄▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▒▌
                ──▌▒▒▐▄█▀▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
                ─▐▒▒▒▒▒▒▒▒▒▒▒▌██▀▒▒▒▒▒▒▒▒▀▄▌
                ─▌▒▀▄██▄▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
                _▌▀▐▄█▄█▌▄▒▀▒▒▒▒▒▒░░░░░░▒▒▒▐
                ▐▒▀▐▀▐▀▒▒▄▄▒▄▒▒▒▒▒░░░░░░▒▒▒▒▌
                ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒░░░░░░▒▒▒▐
                ─▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
                ─▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▐
                ──▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▒▌
                ────▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
                ───▐▀▒▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
                ──▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀▀</p>
        </div>

        <div>
            <p>published: АУЕ/p>
            <h2><a href="">АААААААААААААААААААААААААА</a></h2>
            <p>
                ЗАПУСКАЕМ
                ░ГУСЯ░░▄▀▀▀▄░СО СВЕРНУТОЙ ШЕЕЙ░░
                ░░░░░▀░░░◐░▀███▄
                ░░░░▌░░░░░▐░░░░░░░
                ░░░░▌░░░░▐░░░░░░░
                ░░░░▌░░░░░▐▄▄░░░░░
                ░░░░▌░░░░▄▀▒▒▀▀▀▀▄
                ░░░▐░░░░▐▒▒▒▒▒▒▒▒▀▀▄
                ░░░▐░░░░▐▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░▀▄░░░░▀▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░░░▀▄▄▄▄▄█▄▄▄▄▄▄▄▄▄▄▄▀▄
                ░░░░░░░░░░░▌▌▌▌░░░░░
                ░░░░░░░░░░░▌▌░▌▌░░░░░
                ░░░░░░░░░▄▄▌▌▄▌▌░░░░░</p>
        </div>
    </body>
</html>