<html>
    <head>
        <title>ЗАПУСКАЕМ ГУСЯ</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ЗАПУСКАЕМ
                ░ГУСЯ░▄▀▀▀▄░РАБОТЯГИ░░
                ▄███▀░◐░░░▌░░░░░░░
                ░░░░▌░░░░░▐░░░░░░░
                ░░░░▐░░░░░▐░░░░░░░
                ░░░░▌░░░░░▐▄▄░░░░░
                ░░░░▌░░░░▄▀▒▒▀▀▀▀▄
                ░░░▐░░░░▐▒▒▒▒▒▒▒▒▀▀▄
                ░░░▐░░░░▐▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░▀▄░░░░▀▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░░░▀▄▄▄▄▄█▄▄▄▄▄▄▄▄▄▄▄▀▄
                ░░░░░░░░░░░▌▌░▌▌░░░░░
                ░░░░░░░░░░░▌▌░▌▌░░░░░
                ░░░░░░░░░▄▄▌▌▄▌▌░░░░░</a></h1>
        </div>

        <div>
            <p>published: НЫААААААААА</p>
            <h2><a href="">WOF WOF WOOOOOF</a></h2>
            <p>АЕЕЕЕЕЕЕЕЕЕЕЕ СОСНЫЙ</p>
        </div>

        <div>
            <p>published: АУЕ/p>
            <h2><a href="">АААААААААААААААААААААААААА</a></h2>
            <p>ЗАПУСКАЕМ ГУСЯ В САНЮ </p>
        </div>
    </body>
</html>