<html>
    <head>
        <title>ГУСЬ ГАГАГАГА</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ЗАПУСКАЕМ
                ░ГУСЯ░▄▀▀▀▄░РАБОТЯГИ░░
                ▄███▀░◐░░░▌░░░░░░░
                ░░░░▌░░░░░▐░░░░░░░
                ░░░░▐░░░░░▐░░░░░░░
                ░░░░▌░░░░░▐▄▄░░░░░
                ░░░░▌░░░░▄▀▒▒▀▀▀▀▄
                ░░░▐░░░░▐▒▒▒▒▒▒▒▒▀▀▄
                ░░░▐░░░░▐▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░▀▄░░░░▀▄▒▒▒▒▒▒▒▒▒▒▀▄
                ░░░░░░▀▄▄▄▄▄█▄▄▄▄▄▄▄▄▄▄▄▀▄
                ░░░░░░░░░░░▌▌░▌▌░░░░░
                ░░░░░░░░░░░▌▌░▌▌░░░░░
                ░░░░░░░░░▄▄▌▌▄▌▌░░░░░</a></h1>
        </div>

        <div>
            <p>published: Я ОПУБЛИКОВАЛ</p>
            <h2><a href="">WOOOOF WOOOOF WOOOOOOOOOOF</a></h2>
            <p>────────▄──────────────▄
                ────────▌▒█───────────▄▀▒▌
                ────────▌▒▒▀▄───────▄▀▒▒▒▐
                ───────▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
                ─────▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
                ───▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀██▀▒▌
                ──▐▒▒▒▄▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▒▌
                ──▌▒▒▐▄█▀▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
                ─▐▒▒▒▒▒▒▒▒▒▒▒▌██▀▒▒▒▒▒▒▒▒▀▄▌
                ─▌▒▀▄██▄▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
                _▌▀▐▄█▄█▌▄▒▀▒▒▒▒▒▒░░░░░░▒▒▒▐
                ▐▒▀▐▀▐▀▒▒▄▄▒▄▒▒▒▒▒░░░░░░▒▒▒▒▌
                ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒░░░░░░▒▒▒▐
                ─▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
                ─▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▐
                ──▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▒▌
                ────▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
                ───▐▀▒▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
                ──▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀</p>
        </div>

        <div>
            <p>published: ТОЖЕ ОПУБЛИКОВАЛ</p>
            <h2><a href="">TOOOKAN</a></h2>
            <p>
                ░░░░░░░▄▄▄▀▀▀▄▄███▄
                ░░░░▄▀▀░░░░░░░▐░▀██▌
                ░░▄▀░░░░▄▄███░▌▀▀░▀█
                ░▄█░░▄▀▀▒▒▒▒▒▄▐░░░░█▌
                ▐█▀▄▀▄▄▄▄▀▀▀▀▌░░░░░▐█▄
                ▌▄▄▀▀░░░░░░░░▌░░░░▄███████▄
                ░░░░░░▐░░░░▐███████████▄
                ░░░░░░░▐░░▐█████████████▄ ░░ЗАПУСКАЙ░░▀▄░░░▐██████████████▄ ░░░ТУКАНА░░░░░▀▄▄████████████████▄ ░░░РАБОТЯГИ░░░░░░░░█▀█████</p>
        </div>
    </body>
</html>